<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://identifyuser.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f691a9fa-3580-4cb1-9b3b-6eaf5247cfea/resourceGroups/Dev_ResourceGroup/providers/Microsoft.Web/sites/IdentifyUser</ResourceId>
    <UserName>$IdentifyUser</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://identifyuser.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>